/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * * Colors
 **/

* {
    background:     #1E1E2EFF;  /* base */
    background-alt: #181825FF;  /* mantle */
    foreground:     #CDD6F4FF;  /* text */
    selected:       #F38BA8FF;  /* red (Main Color) */
    active:         #A6E3A1FF;  /* green */
    urgent:         #FAB387FF;  /* peach */
}
